<div class="row d-flex justify-content-center align-items-center form-page">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
    <% if @error.present? %>
    <p class="error text-danger well"><i class="fas fa-exclamation-triangle"></i><%= @error %></p>
    <% end %>
        <h2>Welcome To My</h2>
        <h1>Anagram Generator</h1>
        
        <form action="/" method="post" class="form col-sm-12">
            <div class="form-group ">
              <label for="word" class="label">Real Words ONLY Please!</label>
              <input type="text" name="word" class="form-control col-sm-12 ">
            <div>
            <input type="submit" class="justify-content-center text-align-center btn pink-button" value="Show Me  My Anagrams!">
        </form>
    </div>
</div>