<div class="row d-flex justify-content-center align-items-center form-page">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <h2>Welcome To Our</h2>
        <h1>Anagram Generator</h1>
        
        <form action="/" method="post" class="form">
            <div class="form-group">
              <label for="word" class="label">3 Letter Words ONLY Please!</label>
              <input type="text" name="word" class="form-control">
            <div>
            <input type="submit" class="justify-content-center text-align-center btn pink-button" value="Show Me  My Anagrams!">
        </form>
    </div>
</div>